# Dependencies
node_modules
npm-debug.log

# Build output
dist
artifacts
coverage

# Environment variables (Crucial for security)
.env
.env.local
.env.production

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Version control
.git
.gitignore
